.btn{
    background-color: #2a2096;
    border: none;
    color: white;
  text-align: center;
  text-decoration: none;
  float: left;
  width: 15%;
  font-size: 16px;
  margin-right: 1%;
}
.btn:hover{
    background-color: #4a3fba;
}